<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title> Theatre Seat Booking</title>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<a class="back" href="http://localhost:3000/users/profile">Back</a>
		<div class="container">
			<h1> Theatre Seat Booking</h1>
			<div class="movie_show_times"></div>
			<div id="seats-container"></div>

			<div id="bookingModal">
				<h2>Confirm Reservation</h2>
				<form id="bookingForm" class="form-container">
					<label for="firstName" class="form-label">First Name:</label>
					<input
						type="text"
						id="firstName"
						name="firstName"
						class="form-input"
						required
					/>
					<span id="firstName-error" class="error"></span>

					<label for="lastName" class="form-label">Last Name:</label>
					<input
						type="text"
						id="lastName"
						name="lastName"
						class="form-input"
						required
					/>
					<span id="lastName-error" class="error"></span>
					<label for="phone" class="form-label">Phone:</label>
					<input
							style="width: 100%"
						type="tel"
						id="phone"
						name="phone"
						class="form-input"
						required
					/>
					<span id="phone-error" class="error"></span>
					<input
						type="hidden"
						id="selectedSeatRow"
						name="seat_row"
						class="form-hidden"
					/>
					<input
						type="hidden"
						id="selectedSeatNumber"
						name="seat_number"
						class="form-hidden"
					/>

					<button type="submit" class="form-button form-button-submit">
						Confirm Reservation
					</button>
					<button
						type="button"
						id="closeModal"
						class="form-button form-button-cancel"
					>
						Cancel
					</button>
				</form>
			</div>
			<div id="modalOverlay" class="modal-overlay"></div>
			<div id="bookingHistory" class="booking-history">
   		 <h2>Booking History</h2>
			</div>

		
		<script src="/javascripts/cinema.js"></script>

		
	</body>
</html>
